{{#section 'head'}}

<!-- Page CSS -->
<link rel="stylesheet" href="css/contact.css" />
{{/section}}

<section class="contact-us">
   <div class="container text-center">
    <div class="row">
      <div class="offset-lg-3"></div>
      <div class="col-lg-6">
        <h1 class="display-5 text-center font-weight-light text-capitalize">Contact Us</h1>
        <p>
          We love to hear from our customers and the comminity. 
          We believe that feedback drives creativity and quality. 
          Feel free to get in contact us below, or reach out to use through one of our social medias. 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="get-in-touch">
  Get in Touch
</section>