{{#section 'head'}}

<!-- Page CSS -->
<link rel="stylesheet" href="css/contact.css" />

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>

<!-- Page JS -->
<script src="js/email.js" defer></script>

{{/section}}

<section class="contact-us">
   <div class="container text-center">
    <div class="row">
      <div class="offset-lg-3"></div>
      <div class="col-lg-6">
        <h1 class="display-5 text-center font-weight-light text-capitalize">Contact Us</h1>
        <p>
          We love to hear from our customers and the community. 
          We believe that feedback drives creativity and quality. 
          Feel free to get in contact with us below, or reach out to us through one of our social media platforms. 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="get-in-touch p-0">
    <div class="row no-gutters">
      <div class="col-lg-8">
        <div class="get-in-touch-form-container">
          <h3 class="font-weight-light">Get in Touch</h3>
          <form action="/contact-form" id="contact-form" class="form needs-validation contact-form" novalidate>
            <div class="form-group">
              <div class="input-group">
                <select class="form-control category-dd" name="category" required>
                  <option value="" disabled selected>Category</option>
                  <option value="Support">Support</option>
                  <option value="Bug">Bug Report</option>
                  <option value="Sales">Sales and Payment</option>
                  <option value="Feature request">Feature Request</option>
                  <option value="Other">Other</option>
                </select>
                <div class="invalid-feedback">
                  Please choose a category.
                </div>
              </div>
            </div>

            <div class="tell-us-more-container card">
              <h5 class="card-header font-weight-bold">
                Tell us more about yourself
              </h5>
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col">
                    <div class="input-group">
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" required />
                      <div class="invalid-feedback">
                        Please enter your first name.
                      </div>
                    </div>
                  </div>
                  <div class="form-group col">
                    <!--label for="surname">Surname</label-->
                    <div class="input-group">
                      <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" required />
                      <div class="invalid-feedback">
                        Please enter your last name.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <!--label for="email">Email</label-->
                  <div class="input-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com" required/>
                    <div class="invalid-feedback">
                      Please enter a valid email address.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="message-container card mt-3">
              <h5 class="card-header font-weight-bold">
                Message
              </h5>
              <div class="card-body">
                <div class="form-group mb-0">
                  <div class="input-group">
                    <textarea id="message" name="message" class="contact-message form-control" placeholder="Your message..." data-gramm_editor="false" rows="4" required></textarea>
                    <div class="invalid-feedback">
                      Please enter a message.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group mt-3">
              <button type="submit" class="btn btn-outline-dark submit-btn moon-btn btn-block">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="socials-container">
          <div class="contact-info">

            <div class="info-container mb-3">
              <i id="map-icon" class="contact-icon fas fa-map-marker-alt fa-fw"></i> 
              <p>Melbourne, Australia</p>
            </div>

            <div class="d-flex flex-column">
              <div class="info-container">
                <i id="email-icon" class="contact-icon fas fa-envelope fa-fw"></i>
                <p>Email us</p>
              </div>
              <a class="email-link" href="mailto:admin@dreamlinkstudio.com">admin@dreamlinkstudio.com</a>
            </div>

          </div>

          <div class="socials mt-5">
            <h4 class="connect-heading text-center">Connect with us</h4>
            <div class="social-links mt-4">
              <a id="facebook" class="social-bubble shadow" href="https://www.facebook.com/Dreamlink-Studio-104276601409500" target="_blank">
                <i class="social-icon fab fa-facebook-f fa-fw"></i>
              </a>
              <a id="youtube" class="social-bubble shadow" href="https://www.youtube.com/channel/UCZUNT9qmIK6SI2teQymsXnQ" target="_blank">
                <i class="social-icon fab fa-youtube fa-fw"></i>
              </a>
              <a id="linkedin" class="social-bubble shadow" href="https://www.linkedin.com/company/dreamlink-studios/" target="_blank">
                <i class="social-icon fab fa-linkedin-in fa-fw"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>