{{#section 'head'}}
<!-- Owl carousel -->
<link rel="stylesheet" href="libs/owl/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="libs/owl/dist/assets/owl.theme.default.min.css" />
<script src="libs/owl/dist/owl.carousel.min.js"></script>

<!-- AOS (Scroll Animation -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="libs/scroll-animate/scroll-config.js"></script>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<!-- Page JS -->
<script src="js/carousel.js"></script>
<script src="js/email.js"></script>

<!-- Page Styles -->
<link rel="stylesheet" href="css/fixed.css" />
<link rel="stylesheet" href="css/index.css" />
{{/section}}


<section class="hero-img container-fluid p-0">
  <!-- Start hero image -->
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner"></div>
    </div>
  </div>

  <div class="caption text-center">
    <h1 class="display-4 font-weight-bold">Dreamlink Studio</h1>
    <h3>Linking our dreams with reality</h3>
  </div>
  <!-- End hero image -->
</section>

<!-- What we do -->
<section classs="what-we-do">
  <h1 class="display-5 text-center font-weight-light text-capitalize">What we do</h1>
  <!--div class="container text-center mt-4">
    <p>We deliver and produce high qualitty applications. Our focus is on games but we plan on expanding our applications to cover general purpose software. Our team focuse on three core values, quality, creativity and innovation. These core ideas act as the core building blocks for our applications and software. This allows our applications and software unique, and unlike any other technologies out there.</p>  
  </div-->

  <div class="container-fluid p-5 mt-3">
    <div class="row">
      <div class="col-lg-4">
        <div class="value-box" id="quality-box">
          <div class="circle-icon">
            <i class="fas fa-check fa-fw"></i>
          </div>
          <h3 class="font-weight-bold text-capitalize pt-4">Quality</h3>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="value-box" id="creative-box">
          <div class="circle-icon">
            <i class="fas fa-cloud fa-fw"></i>
          </div>
          <h3 class="font-weight-bold text-capitalize pt-4">Creativity</h3>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="value-box" id="innovation-box">
          <div class="circle-icon">
            <i class="fas fa-lightbulb fa-fw"></i>
          </div>
          <h3 class="font-weight-bold text-capitalize pt-4">Innovation</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="who-we-are">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Who we are</h1>
  <!--div class="container text-center mt-4">
    <p>We are a group of passionate IT professionals who ... Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Scroll through the slider below to meet the team, and see how each individual member has helped contribute to where we are today.</p>  
  </div-->
  <div class="container pt-4">
    <h3 class="text-center text-capitalize mt-3 mb-5">Our team</h3>

    <!-- Our team carousel -->
    <div class="owl-profile-carousel owl-carousel owl-theme">
      <!-- Slide one (4 cards)  -->
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="100" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="300" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="500" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="700" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>

      <!-- Slide two (4 cards)  -->
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="900" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="1100" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="1300" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-offset="150" data-aos-delay="1500" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/placeholder.png" class="circle-img" alt="John Doe" />
            <h4>John Doe</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Game Developer and Designer</p>
            <button class="btn btn-md btn-outline-light">View More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="sep"/>
</section>

<section class="our-products">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Our Products</h1>
  <!-- Our Products -->
  <div class="container">
    <div class="owl-products-carousel owl-carousel owl-theme">
      <div class="item" data-aos="flip-left-foo" data-aos-duration="800">
        <div class="product-info card shadow">
          <div class="img-wrapper">
            <img class="card-img-top" src="images/products/zombie-runner.png" alt="Zombie runner product">
          </div>
          <div class="card-body">
            <h5 class="card-title">Zombie Runner</h5>
            <p class="card-text">A short description of the application which is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
            <div class="card-button-container d-flex justify-content-between">
              <a href="#" class="read-more-btn btn btn-md moon-btn btn-outline-dark">Read More</a>
              <div class="d-flex store-buttons align-items-center">
                <a class="d-flex align-items-center align-self-center mr-2" href="#"><i class="apple-store store-icon fab fa-apple fa-fw"></i></i></a>
                <a class="d-flex align-items-center align-self-center" href="#"><i class="android-store store-icon fab fa-google-play fa-fw"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" data-aos="flip-left-foo" data-aos-duration="800" data-aos-offset="200">
        <div class="product-info card shadow">
          <div class="img-wrapper">
            <img class="card-img-top" src="images/products/zombie-runner.png" alt="Zombie runner product">
          </div>
          <div class="card-body">
            <h5 class="card-title">Zombie Runner</h5>
            <p class="card-text">A short description of the application which is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
            <div class="card-button-container d-flex justify-content-between">
              <a href="#" class="read-more-btn btn btn-md moon-btn btn-outline-dark">Read More</a>
              <div class="d-flex store-buttons align-items-center">
                <a class="d-flex align-items-center align-self-center mr-2" href="#"><i class="apple-store store-icon fab fa-apple fa-fw"></i></i></a>
                <a class="d-flex align-items-center align-self-center" href="#"><i class="android-store store-icon fab fa-google-play fa-fw"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" data-aos="flip-left-foo" data-aos-duration="800" data-aos-offset="400">
        <div class="product-info card shadow">
          <div class="img-wrapper">
            <img class="card-img-top" src="images/products/zombie-runner.png" alt="Zombie runner product">
          </div>
          <div class="card-body">
            <h5 class="card-title">Zombie Runner</h5>
            <p class="card-text">A short description of the application which is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
            <div class="card-button-container d-flex justify-content-between">
              <a href="#" class="read-more-btn btn btn-md moon-btn btn-outline-dark">Read More</a>
              <div class="d-flex store-buttons align-items-center">
                <a class="d-flex align-items-center align-self-center mr-2" href="#"><i class="apple-store store-icon fab fa-apple fa-fw"></i></i></a>
                <a class="d-flex align-items-center align-self-center" href="#"><i class="android-store store-icon fab fa-google-play fa-fw"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" data-aos="flip-left-foo" data-aos-duration="800" data-aos-offset="600">
        <div class="product-info card shadow">
          <div class="img-wrapper">
            <img class="card-img-top" src="images/products/zombie-runner.png" alt="Zombie runner product">
          </div>
          <div class="card-body">
            <h5 class="card-title">Zombie Runner</h5>
            <p class="card-text">A short description of the application which is great. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
           
            <div class="card-button-container d-flex justify-content-between">
              <a href="#" class="read-more-btn btn btn-md moon-btn btn-outline-dark">Read More</a>
              <div class="d-flex store-buttons align-items-center">
                <a class="d-flex align-items-center align-self-center mr-2" href="#"><i class="apple-store store-icon fab fa-apple fa-fw"></i></i></a>
                <a class="d-flex align-items-center align-self-center" href="#"><i class="android-store store-icon fab fa-google-play fa-fw"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-us">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Get In touch</h1>
  <div class="container pt-4">
    <form class="form needs-validation" novalidate id="contact-form" name="contact-form">
      <div class="form-row">
        <div class="form-group col-sm-6 py-0">
          <label class="sr-only" for="input-first-name">First name</label>
          <input class="form-control" name="firstName" id="input-first-name" type="text" placeholder="First Name" required />
        </div>
        <div class="form-group col-sm-6 py-0">
          <label class="sr-only" for="input-last-name">Last name</label>
          <input class="form-control" name="lastName" id="input-last-name" type="text" placeholder="Last Name" required />
        </div>
      </div>
      
      <div class="form-group">
        <label class="sr-only" for="input-email">Email address</label>
        <input type="email" name="email" class="form-control" id="input-email" placeholder="Enter email" required />
      </div>

      <div class="form-group">
        <label class="sr-only" for="email-body">Email body message</label>
        <textarea class="form-control no-resize" name="emailBody" data-gramm_editor="false" id="email-body" placeholder="Message" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark submit-btn moon-btn btn-block">Send</button>
      </div>
    </form>
  </div>
</section>



