{{#section 'head'}}
<!-- Owl carousel -->
<link rel="stylesheet" href="libs/owl/dist/assets/owl.carousel.min.css" media="none" onload="if(media!='all')media='all'" />
<link rel="stylesheet" href="libs/owl/dist/assets/owl.theme.default.min.css" media="none" onload="if(media!='all')media='all'" />
<script src="libs/owl/dist/owl.carousel.min.js" defer></script>

<!-- AOS (Scroll Animation) -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" media="none" onload="if(media!='all')media='all'"/>
<script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
<script src="libs/scroll-animate/scroll-config.js" defer></script>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>

<!-- Page JS -->
<script src="js/carousel.js" defer></script>
<script src="js/email.js" defer></script>

<!-- Page Styles -->
<link rel="stylesheet" href="css/fixed.css" />
<link rel="stylesheet" href="css/index.css" />
{{/section}}

<section class="hero-img container-fluid p-0">
  <!-- Start hero image -->
  <div class="landing">
    <div class="caption text-center">
      <h1 class="display-4 font-weight-bold">Dreamlink Studio</h1>
      <h3>Linking our dreams with reality</h3>
    </div>

    <div class="scroll-down-container text-center">
      <button class="scroll-down-btn" data-scroll="true" data-to=".what-we-do">
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>

    <div class="home-wrap">
      <div class="home-inner"></div>
    </div>
  </div>

  <!-- End hero image -->
</section>

<!-- What we do -->
<section class="what-we-do">
  <h1 class="display-5 text-center font-weight-light text-capitalize">What we do</h1>
  <!--div class="container text-center mt-4">
    <p>We deliver and produce high qualitty applications. Our focus is on games but we plan on expanding our applications to cover general purpose software. Our team focuse on three core values, quality, creativity and innovation. These core ideas act as the core building blocks for our applications and software. This allows our applications and software unique, and unlike any other technologies out there.</p>  
  </div-->

  <div class="value-box-container container-fluid p-5 mt-3">
    <div class="row">
      <div class="col-lg-4">
        <div class="value-box" id="quality-box">
          <div class="circle-icon">
            <i class="fas fa-check fa-fw"></i>
          </div>
          <h3 class="font-weight-bold text-capitalize pt-4">Quality</h3>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="value-box" id="creative-box">
          <div class="circle-icon">
            <i class="fas fa-cloud fa-fw"></i>
          </div>
          <h3 class="font-weight-bold text-capitalize pt-4">Creativity</h3>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="value-box" id="innovation-box">
          <div class="circle-icon">
            <i class="fas fa-lightbulb fa-fw"></i>
          </div>
          <h3 class="font-weight-bold text-capitalize pt-4">Innovation</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="who-we-are">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Who we are</h1>
  <!--div class="container text-center mt-4">
    <p>We are a group of passionate IT professionals who ... Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Scroll through the slider below to meet the team, and see how each individual member has helped contribute to where we are today.</p>  
  </div-->
  <div class="container pt-4">
    <h3 class="text-center text-capitalize mt-3 mb-5">Our team</h3>

    <!-- Our team carousel -->
    <div class="owl-profile-carousel owl-carousel owl-theme">
      <!-- Slide one (4 cards)  -->
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="100" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/harrison_verrios.jpg" class="circle-img" alt="Harrison Verrios" loading="lazy" />
            <h4>Harrison Verrios</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>Harrison</h1>
            <p>App Developer</p>
            <a href="/about#harrison-verrios" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="300" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/jeffrey_goh.jpg" class="circle-img" alt="Jeffrey Goh" loading="lazy" />
            <h4>Jeffrey Goh</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>Jeffrey</h1>
            <p>App Developer & UI/UX</p>
            <a href="/about#jeffrey-goh" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="500" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/nicholas_parsons.jpg" class="circle-img" alt="Nicholas Parsons" loading="lazy" />
            <h4>Nicholas Parsons</h4>
            <p>Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>Nick</h1>
            <p>Web Developer & UI/UX</p>
            <a href="/about#nicholas-parsons" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="700" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/wilbert_soetanto.jpg" class="circle-img" alt="Wilbert Soetanto" loading="lazy" />
            <h4>Wilbert Soetanto</h4>
            <p>Lead Developer</p>
          </div>
          <div class="flip-card-back">
            <h1>Wilbert</h1>
            <p>App Developer</p>
            <a href="/about#wilbert-soetanto" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>

      <!-- Slide two (4 cards)  -->
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="900" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/matthew-szehao-ong.jpg" class="circle-img" alt="Matthew Ong" loading="lazy" />
            <h4>Matthew Ong</h4>
            <p>Team Lead</p>
          </div>
          <div class="flip-card-back">
            <h1>Matthew</h1>
            <p>Core Team Leader</p>
            <a href="/about#matthew-szehao-ong" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="1100" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/justine_chen.jpg" class="circle-img" alt="Justine Chen" loading="lazy" />
            <h4>Justine Chen</h4>
            <p>Lead UI/UX Designer</p>
          </div>
          <div class="flip-card-back">
            <h1>Justine</h1>
            <p>UI/UX & Graphics Designer</p>
            <a href="/about#justine_chen" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="1300" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/summer_chong.jpg" class="circle-img" alt="Summer Chong" loading="lazy" />
            <h4>Summer Chong</h4>
            <p>Lead Graphics Designer</p>
          </div>
          <div class="flip-card-back">
            <h1>Summer</h1>
            <p>Graphics Designer</p> 
            <a href="/about#summer_chong" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
      <div class="item flip-card" data-aos="zoom-in-up" data-aos-delay="1500" data-aos-easing="ease-out-back">
        <div class="member-info flip-card-inner">
          <div class="flip-card-front">
            <img src="images/team/index-profiles/hui_wen_poh.jpg" class="circle-img" alt="Hui Wen Poh" loading="lazy" />
            <h4>Hui Wen Poh</h4>
            <p>Graphics Designer</p>
          </div>
          <div class="flip-card-back">
            <h1>HW</h1>
            <p>Graphics Designer and Finance</p>
            <a href="/about#hui_wen_poh" class="btn btn-md btn-outline-light">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="sep"/>
</section>

<section class="our-products">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Our Products</h1>
  <!-- Our Products -->
  <div class="container">
    <div class="item center">
      <div class="product-info card shadow">
        <div class="img-wrapper">
          <img class="card-img-top" src="images/products/dead-instinct/dead-instinct.png" alt="Dead Instinct product" loading="lazy">
        </div>
        <div class="card-body">
          <h5 class="card-title">Dead Instinct</h5>
          <p class="card-text">Dead Instinct is an endless runner that challenges the player to survive with only their athletic ability and wits to stay alive. Start running today and beat your high score! Available on both iOS & Android</p>
          <div class="card-button-container d-flex justify-content-between">
            <a href="/products#game-row-one" class="read-more-btn btn btn-md moon-btn btn-outline-dark">View App</a>
            <div class="d-flex store-buttons align-items-center">
              <a class="d-flex align-items-center align-self-center mr-2" aria-label="Apple Store Icon Link" href="#"><i class="apple-store store-icon fab fa-apple fa-fw"></i></a>
              <a class="d-flex align-items-center align-self-center" aria-label="Android Store Icon Link" href="#"><i class="android-store store-icon fab fa-google-play fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-us">
  <h1 class="display-5 text-center font-weight-light text-capitalize">Get In touch</h1>
  <div class="container pt-4">
    <form action="/sendmail" class="form needs-validation" novalidate id="contact-form" name="contact-form">
      <div class="form-row">
        <div class="form-group col-sm-6 py-0">
          <label class="sr-only" for="input-first-name">First name</label>
          <div class="firstname-container">
            <input class="form-control" name="firstName" id="input-first-name" type="text" placeholder="First Name" required />
            <div class="invalid-feedback">
              Please enter your first name.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6 py-0">
          <label class="sr-only" for="input-last-name">Last name</label>
          <div class="last-name-contains">
            <input class="form-control" name="lastName" id="input-last-name" type="text" placeholder="Last Name" required />
            <div class="invalid-feedback">
              Please enter your last name.
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="sr-only" for="input-email">Email address</label>
        <div class="email-container">
          <input type="email" name="email" class="form-control" id="input-email" placeholder="Enter email" required />
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="email-body">Email body message</label>
        <div class="email-body-container">
          <textarea class="form-control no-resize" name="emailBody" data-gramm_editor="false" id="email-body" placeholder="Message" rows="4" required></textarea>
          <div class="invalid-feedback">
            Please enter a message to send.
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark submit-btn moon-btn btn-block">Send</button>
      </div>
    </form>
  </div>
</section>



