{{#section 'head'}}
  <link rel="stylesheet" href="css/products.css" />
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover'
      });
    });
  </script>

  <script src="js/expandables.js"></script>
  <script src="libs/modal-video/jquery-modal-video.min.js"></script>
  <link rel="stylesheet" href="libs/modal-video/modal-video.min.css" />
  <script src="js/products.js"></script>
{{/section}}

<!-- Heading and details -->
<section class="our-products-heading">
  <div class="container text-center">
    <div class="row">
      <div class="offset-lg-3"></div>
      <div class="col-lg-6">
        <h1 class="display-5 text-center font-weight-light text-capitalize">Our Products</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lorem velit, varius sit amet suscipit a, dignissim a metus. 
          Integer at lorem id justo mollis posuere. Curabitur porttitor eget metus a tincidunt. Vivamus et pharetra ligula. 
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Category buttons -->
<div class="category-buttons">
  <div class="container-fluid">
    <div class="category-row row justify-content-center">
      <div class="cat-btn-container col-md text-center">
        <button class="cat-btn" data-scroll="true" data-to=".games-cat" data-toggle="tooltip" data-placement="top" title="See our games">
          <div class="circle-icon">
            <i class="icon fas fa-gamepad fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Games</p>
        </button>
      </div>

      <div class="cat-btn-container col-md text-center">
        <button class="cat-btn" data-scroll="true" data-to=".applications-cat" data-toggle="tooltip" data-placement="top" title="See our applications">
          <div class="circle-icon">
            <i class="icon fas fa-file-code fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Applications</p>
        </button>
      </div>

      <div class="cat-btn-container col-md text-center" data-scroll="true" data-to=".software-cat" data-toggle="tooltip" data-placement="top" title="See our software">
        <button class="cat-btn">
          <div class="circle-icon">
            <i class="icon fas fa-laptop fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Software</p>
        </button>
      </div>

      <div class="cat-btn-container col-md text-center" data-scroll="true" data-to=".extensions-cat" data-toggle="tooltip" data-placement="top" title="See our extensions">
        <button class="cat-btn">
          <div class="circle-icon">
            <i class="icon fas fa-cog fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Extensions</p>
        </button>
      </div>
    </div>
  </div>
</div>

<section class="our-products">
  <div class="games-cat">
    <h1 class="display-5 text-center font-weight-light text-capitalize">Games</h1>
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4">
          <button class="d-none btn-hidden" data-expand="#game1">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="Game1"/>
            </div>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn-hidden" data-expand="#zombie-game-info">
            <div class="product-img-wrapper shadow">
              <img src="/images/products/zombie-runner.png" class="product-img img-fluid" alt="Zombie Runner cover image"/>
            </div>
          </button>
        </div>
        <div class="col-md-4">
          <button class="d-none btn-hidden" data-expand="#game3">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="Game3"/>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="expandable product-info-wrapper games-product-info mx-5 py-4 position-relative" data-open="false">
      <div class="panel-controls">
        <button class="float-right close-btn btn-hidden" data-expand-close="true">
          &times;
        </button>
      </div>

      <div id="game1" class="product-info">
        <p>Game #1</p>
      </div>

      <div id="zombie-game-info" class="product-info">
        <div class="container">
          <h3 class="ml-lg-2 pb-2 text-lg-left text-center">Zombie Runner</h3>
          <div class="row">
            <div class="col-lg">
              <div class="video-thumbnail position-relative text-center">
                <img src="https://i.ytimg.com/vi/DS15qFLy9RQ/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBg2fRu6TaKWQG4xInunExZbR1i8Q" class="img-fluid" alt="Zombie Runner YouTube Thumbnail"/>
                <button class="video-popup-btn" data-video-id="DS15qFLy9RQ">
                  <i class="fas fa-play"></i>
                </button>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="product-description mt-4 mt-lg-0">
                <p>
                  Zombie Runner is an action-packed zombie game! Keep running away from the zombies before they catch you! plz get game thx.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales metus mattis, pulvinar dolor id, tincidunt odio. 
                  Donec maximus egestas mauris eget fringilla. In volutpat nunc vitae auctor hendrerit. Maecenas aliquet nunc quis laoreet commodo. 
                  Integer sollicitudin enim vitae lectus suscipit, gravida condimentum elit euismod. Curabitur porttitor nisl sed tincidunt mattis. 
                  Etiam id orci consequat, sodales sem aliquam, facilisis mauris. Quisque ac pellentesque diam. 
                  Pellentesque ante neque, gravida at sem vitae, sagittis vulputate metus. Aenean aliquam nunc molestie elit dictum venenatis.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="game3" class="product-info">
        <p>Game 3</p>
      </div>
    </div>
  </div>

  <hr class="sep" />

  <div class="applications-cat mt-5">
    <h1 class="display-5 text-center font-weight-light text-capitalize">Applications</h1>
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4">
          <button class="btn-hidden" data-expand="#app1">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="App1"/>
            </div>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn-hidden" data-expand="#app2">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="App2"/>
            </div>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn-hidden" data-expand="#app3">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="App3"/>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="expandable product-info-wrapper games-product-info mx-5" data-open="false">
      <div class="panel-controls">
        <button class="float-right close-btn btn-hidden" data-expand-close="true">
          &times;
        </button>
      </div>

      <div id="app1" class="product-info">
        <p>App #1</p>
      </div>

      <div id="app2" class="product-info">
        <p>App #2</p>
      </div>

      <div id="app3" class="product-info">
        <p>App #3</p>
      </div>
    </div>
  </div>
</section>