{{#section 'head'}}
  <link rel="stylesheet" href="css/products.css" />
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover'
      });
    });
  </script>

  <script src="js/products.js"></script>
{{/section}}

<!-- Heading and details -->
<section class="our-products-heading">
  <div class="container text-center">
    <div class="row">
      <div class="offset-lg-3"></div>
      <div class="col-lg-6">
        <h1 class="display-5 text-center font-weight-light text-capitalize">Our Products</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lorem velit, varius sit amet suscipit a, dignissim a metus. 
          Integer at lorem id justo mollis posuere. Curabitur porttitor eget metus a tincidunt. Vivamus et pharetra ligula. 
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Category buttons -->
<div class="category-buttons">
  <div class="container-fluid">
    <div class="category-row row justify-content-center">
      <div class="cat-btn-container col-md text-center">
        <button class="cat-btn" data-toggle="tooltip" data-placement="top" title="See our games">
          <div class="circle-icon">
            <i class="icon fas fa-gamepad fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Games</p>
        </button>
      </div>

      <div class="cat-btn-container col-md text-center">
        <button class="cat-btn" data-toggle="tooltip" data-placement="top" title="See our applications">
          <div class="circle-icon">
            <i class="icon fas fa-file-code fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Applications</p>
        </button>
      </div>

      <div class="cat-btn-container col-md text-center" data-toggle="tooltip" data-placement="top" title="See our software">
        <button class="cat-btn">
          <div class="circle-icon">
            <i class="icon fas fa-laptop fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Software</p>
        </button>
      </div>

      <div class="cat-btn-container col-md text-center" data-toggle="tooltip" data-placement="top" title="See our extensions">
        <button class="cat-btn">
          <div class="circle-icon">
            <i class="icon fas fa-cog fa-fw"></i>
          </div>
          <p class="pt-2 mb-0">Extensions</p>
        </button>
      </div>
    </div>
  </div>
</div>

<section class="our-products">
  <div class="games-cat">
    <h1 class="display-5 text-center font-weight-light text-capitalize">Games</h1>
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4">
          <button class="d-none btn-hidden" data-expand="#game1">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="Game1"/>
            </div>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn-hidden" data-expand="#zombie-game-info">
            <div class="product-img-wrapper shadow">
              <img src="/images/products/zombie-runner.png" class="product-img img-fluid" alt="Zombie Runner cover image"/>
            </div>
          </button>
        </div>
        <div class="col-md-4">
          <button class="d-none btn-hidden" data-expand="#game3">
            <div class="product-img-wrapper shadow">
              <img src="https://via.placeholder.com/350x200/248.png/fff" class="product-img img-fluid" alt="Game1"/>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="product-info-wrapper games-product-info mx-5" data-open="false">
      <div class="panel-controls">
        <button class="float-right close-btn btn-hidden" data-expand-close=".product-info-wrapper">
          &times;
        </button>
      </div>

      <div id="game1" class="product-info">
        <p>Game #1</p>
      </div>

      <div id="zombie-game-info" class="product-info">
        <p>Zombie game info</p>
      </div>

      <div id="game3" class="product-info">
        <p>Game 3</p>
      </div>
    </div>
  </div>
</section>