/*--- Main Heading ---*/
.about-us .logo {
  height: auto;
  width: 70%;
}

/*--- Our People ---*/

.our-people .socials {
  margin-top: 10px;
}

.our-people .socials .icon {
  font-size: 20px;
  color: #0276b6; /* linked in offcial brand logo colour */
}

.our-people .profile-row {
  margin-top: 50px !important;
}

@media(max-width: 991px) { /* lg breakpoint */
  .our-people .socials .icon {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  body { /* animate  on scroll mobile overflow fix */
    overflow-x: hidden;
  }

  .our-people .profile-image{
    width: 180px;
    height: 100%;
  }
}
