/* -- Get in touch form -- */
.get-in-touch-form-container {
  padding: 30px;
}

.form-control {
  border-color: #abb0b5;
}

/* Safari styling select fix */
.category-dd {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 98% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

textarea.contact-message {
  resize: none;
}

/* -- Social Media -- */
.socials-container {
  display: flex;
  background: rgb(35, 8, 40);
  height: 100%;
  width: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.contact-info .contact-icon {
  margin-right: 5px;
}

.info-container {
  display: flex;
  align-items: center;
}

.info-container p {
  margin: 0;
}


.socials {
  width: 80%;
}

.social-links {
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
}

.social-links .social-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  background-color: white;
  transition: background-color 0.4s;
}

.social-links .social-icon {
  transition: color 0.4s;
}


.social-links #facebook .social-icon {
  color: #4967aa;
}

.social-links #youtube .social-icon {
  color: #fe0100;
}

.social-links #linkedin .social-icon {
  color: #0277b5;
}

.social-links .social-bubble:hover > .social-icon {
  color: white !important;
}

.social-links .social-bubble#facebook:hover { 
  background-color: #4967aa;
}

.social-links .social-bubble#youtube:hover {
  background-color: #fe0100;
}

.social-links .social-bubble#linkedin:hover {
  background-color: #0277b5;
}
