/*--- Hero image ---*/
.home-inner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/jumbotron-bg.png");
}

.caption {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 38%;
  color: white;
  z-index: 1;
}

.caption h1 {
  letter-spacing: 0.15rem;
  text-shadow: 0.1rem 0.1rem 1.5rem black;
}


/*--- Carousel left and right buttons ---*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
 }

 .carousel-control-next, .carousel-control-prev {
   width: auto;
 }

 