@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

h1, h2,  h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

section {
  border-top: 0.2px solid rgb(203, 203, 203);
  padding: 3% 1%;
}

/*--- Nav ---*/

.navbar {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.navbar.shrink {
  background-color: rgba(255, 255, 255, 1);
}

#navbarSupportedContent {
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

#navbarSupportedContent.shrink {
  font-size: 16px;
}

#navbarSupportedContent.shrink .nav-link {
  color: black !important;
}

#logo {
  height: 80px;
  filter: brightness(0) invert(1);
  width: auto;
  transition: 0.4s ease-in-out; /* Adds a transition effect when height changed */
}

#logo.shrink {
  height: 50px;
  filter: brightness(1) invert(0)
}

.nav-link {
  color: white !important;
  transition: color 0.4s ease-in-out;
}

.active .nav-link {
  font-weight: 700;
}

.nav-link:hover {
  color: rgb(205, 205, 235) !important;
}

/*--- Utility ---*/
.circle-icon {
  display: inline-block;
  border-radius: 200px;
  padding: 0.6em 0.72em;
  border: 0.5px solid black;
  font-size: 22px;
}

.sep {
  margin: 40px auto;
  width: 600px;
  background: #b1b1b1;
}


