@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2,  h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

section {
  border-top: 0.2px solid rgb(203, 203, 203);
  padding: 3% 1%;
}

/*--- Nav ---*/
.navbar {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.navbar.shrink {
  background-color: #f7f7f7;/*rgba(255, 255, 255, 1);*/
  border-bottom: 1px solid rgb(212,53,28);
}

#navbarSupportedContent {
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

#navbarSupportedContent.shrink {
  font-size: 16px;
}

#navbarSupportedContent.shrink .nav-link {
  color: black !important;
}

#logo {
  height: 80px;
  filter: brightness(0) invert(1);
  width: auto;
  transition: 0.4s ease-in-out; /* Adds a transition effect when height changed */
}

#logo.shrink {
  height: 40px;
  filter: brightness(1) invert(0)
}

.nav-link {
  color: white !important;
  transition: color 0.4s ease-in-out;
}

.active .nav-link {
  font-weight: 700;
}

.nav-link:hover {
  color: rgb(205, 205, 235) !important;
}

/* Scroll Top Button */
.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: none;
  z-index: 100;
}

.scroll-top .scroll-top-btn {
  background-color: transparent;
  outline: 0;
  border: 0;
}

.scroll-top .circle-icon {
  background: #d4351c;
  color: white !important;
  opacity: 0.8;
}

.scroll-top .circle-icon .icon {
  transform: translate(0, 0);
  transition: transform 0.3s;
}

.scroll-top:hover .circle-icon .icon {
  transform: translate(0, -5px);
  transition: transform 0.3s;
}

/*--- Footer ---*/
footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a2146;
  color: white;
  padding: 5px;
}

footer.footer p, footer.footer .nav-links {
  margin-top: 20px;
  margin-bottom: 5px;
} 

footer.footer .nav-links {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

footer.footer .nav-links li:not(:first-child) {
  border-left: 1px solid white !important;
}

footer.footer .nav-links li {
  padding: 0 20px;
}

footer.footer .nav-links a {
  color: white;
}


/*--- Utility ---*/
.circle-icon {
  display: inline-block;
  border-radius: 200px;
  padding: 0.6em 0.72em;
  font-size: 22px;
  background-color: #092145;
}

.circle-icon {
  color: #D4351C !important;
  font-size: 25px;
}

.sep {
  margin: 60px auto;
  width: 600px;
  background: #b1b1b1;
}

.sep.sep-white {
  background: white;
}

.no-resize {
  resize: none;
}

.no-transition {
  transition: all 0s !important;
}

.btn-hidden, .btn-hidden:focus {
  border: 0;
  outline: 0;
  background: transparent;
}



