@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

h1, h2,  h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

section {
  border-top: 0.2px solid rgb(203, 203, 203);
  padding: 3% 1%;
}

#logo {
  height: 50px;
  width: auto;
}

.jumbotron-fluid {
  background-image: linear-gradient( rgba(4, 12, 109, 0.5), rgba(70, 236, 255, 0.187) ), url("../images/jumbotron-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  background-attachment: fixed;
  color: white;
}

.circle-icon {
  display: inline-block;
  border-radius: 200px;
  padding: 0.6em 0.72em;
  border: 0.5px solid black;
  font-size: 22px;
}

.sep {
  margin: 40px auto;
  width: 600px;
  background: #b1b1b1;
}

