/*--- Product Category Buttons ---*/
.category-buttons {
  display: flex;
  align-items: center;
  padding: 2% 25%;
  border-top: 0.2px solid rgb(203, 203, 203);
}

.cat-btn, .cat-btn:focus {
  background: transparent;
  border: 0;
  outline: 0;
}

.category-buttons .cat-btn-container .circle-icon {
  background-color: #0a2146;
  transition: background-color 0.3s ease-in-out;
}

.category-buttons .cat-btn-container .circle-icon .icon {
  color: white; 
}

.category-row .cat-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-btn:hover .circle-icon {
  background-color: #1f58b3;
}

@media(max-width: 992px) { /* lg-breakpoint */
  .category-buttons {
    padding: 2% 10%;
  }
}

@media(max-width: 768px) { /* md-breakpoint */
  .category-buttons {
    padding: 2% 0%;
  }
}

/*--- Our Products ---*/
.our-products .icon-sep {
  display: table;
  margin: 0 auto;
  padding: 3%;
}

.our-products .icon-sep .icon {
  font-size: 40px;
  color: #39209c;
  text-align: center; 
}

.product-img {
  display: block;
  transition: transform 0.3s;
  transform: scale(1.1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-img-wrapper {
  position: relative;
  transition: transform 0.3s, border-radius 0.3s;
  overflow: hidden;
}

/*
Image gradient on hover
.product-img-wrapper:after {
  content:'';
  opacity: 0;
  transition: opacity 0.3s linear;
}

.product-img-wrapper:hover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 47, 75, 0.7), rgba(0, 47, 75));
  opacity: 0.6;
  transition: opacity 0.3s;
}*/

.product-img-wrapper:hover .product-img {
  transform: scale(1);
} 

.product-img-wrapper:hover {
  transform: scale(1.025);
  border-radius: 5px;
}

/*.store-buttons {
  position: absolute;
}*/ 

.store-buttons .store-icon {
  color: #5f5f60;
  transition: color 0.2s ease-in-out, transform 0.15s ease-in;
}

.store-buttons .store-icon.apple-store {
  font-size: 30px;
}

.store-buttons .store-icon.android-store {
  font-size: 24px;
}

.store-buttons .store-icon:hover {
  color: #0a2146;
  transform: scale(1.1);
}


.product-info-wrapper {
  display: none;
  overflow: hidden;
  background-color: #ececec;
}

.product-info {
  display: none;
}

.panel-controls .close-btn {
  font-size: 30px;
}

.panel-controls {
  position: absolute;
  top: 1%;
  right: 1%;
}

.video-thumbnail img {
  border-radius: 2%;
  filter: brightness(75%) saturate(140%);
}

.video-thumbnail .video-popup-btn {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  color: #d95039;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  outline: 0;
  height: 50px;
  width: 50px;
}

/* Store button container buttons (@media) */
.store-buttons-container .btn {
  font-size: 18px;
}

.store-buttons-container .store-icon {
  margin-right: 5px;
}

.store-buttons-container .apple-store {
  font-size: 21px;
}


/* Store buttons container Images (@media) */
.store-buttons-container .store-img {
  width: 185px;
}

@media (max-width: 768px) {
  .product-info-wrapper {
    background-color: transparent;
  }

  .product-info:not(:first-child) {
    margin-top: 7%;
  }

  .product-description {
    padding: 0 2%;
  }

  .store-buttons-container .btn {
    width: 100%;
  }

  .store-buttons-container .store-img {
    width: 60%;
    margin-top: 5px;
  }
}